body{
    background-color: beige;
    font-family: "Times New Roman",Times serif;
}

h1{
color:rgb(43, 226, 92);
font-size:40px;
}

.navone{
    background-color: #ffffff;
    border: 8px solid;
    border-radius: 30px;
    box-shadow: #a9a9a9 4px 4px 0 0;
    color: #431533;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 5px;
    padding: 0 90px;
    line-height: 70px;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: none;
}
.button{
    font-size: 50px;
    text-decoration: none;
}

.navtwo{
    background-color: #FFFFFF;
    border: 8px solid;
    border-radius: 30px;
    box-shadow: #A9a9a9;
    color: #433715;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    
}
}
}
}

}