

body{
    background-color: rgb(239, 222, 234);
    color: saddlebrown;
    color: rgb(77, 95, 107);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    vertical-align: top;
}
.card{
    width: 29vw;
    border: 1px salmon;
    margin: 0.1em 0.1em 0 0;
    display: inline-block;
    vertical-align: top;
    min-height: 26vh;
    font-size: 4vh
}
a{
    text-decoration: none;
    display: inline-block;
    margin: 1em;
    color: rgb(255, 255, 255);
    background-color: rgb(139, 19, 75);
    padding: 1em;
    border-radius: 1em;;
}
a:hover{
    text-decoration: underline;
    color: rgb(25, 0, 255);
}
select{
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
}
/* option{
    padding: 1em;
    margin: 1em;
} */
